<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <%# for (let i = 0; i < activities.length; i++) { %>
            <!-- <div class="item">
                <input type="checkbox">
                <p><%#= activities[i].name %></p>
            </div> -->
        <%# } %>

        <% if (activities) { %>
            <% activities.forEach(function (activity) { %>
                <form action="/delete" method="POST">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%= activity.id %>" onchange="this.form.submit()">
                        <p><%= activity.name %></p>
                    </div>
                    <input type="hidden" name="listName" value="<%= listTitle %>">
                </form>
            <% }); %>
        <% } %>
        
        <form class="item" action="/" method="POST">
            <input type="text" name="activity" placeholder="Type a new activiy" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>
<%- include("footer") -%>